In [1]:
import pandas as pd

In [2]:
#Δώσαμε το path για το αρχείο
file_path = 'C:\\Users\\jason\\Documents\\GitHub\\cmcprojectpersonal\\eurovision_song_contest_1957_2023.xlsx'

In [3]:
#Διαβάσαμε το αρχείο
df = pd.read_excel(file_path)

In [4]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate
0,1957,f,1957f,J,Austria,Austria,0,x
1,1957,f,1957f,J,Austria,Belgium,0,NaN
2,1957,f,1957f,J,Austria,Denmark,0,NaN
3,1957,f,1957f,J,Austria,France,0,NaN
4,1957,f,1957f,J,Austria,Germany,0,NaN

In [5]:
#Αντικαταστήσαμε τα ονόματα κάποιον χωρών
df['From country'] = df['From country'].replace({'F.Y.R. Macedonia': 'North Macedonia', 'Macedonia': 'North Macedonia'})
df['To country'] = df['To country'].replace({'F.Y.R. Macedonia': 'North Macedonia', 'Macedonia': 'North Macedonia'})

df['From country'] = df['From country'].replace({'Yugoslavia': 'F.U.Y/S.M.', 'Serbia & Montenegro': 'F.U.Y/S.M.'})
df['To country'] = df['To country'].replace({'Yugoslavia': 'F.U.Y/S.M.', 'Serbia & Montenegro': 'F.U.Y/S.M.'})

In [6]:
#Αλλάξαμε τα ονόματα των columns
df = df.rename(columns={'From country': 'from_country',
                                         'To country':'to_country',
                                         'Points      ':'points'})

In [7]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,to_country,points,Duplicate
0,1957,f,1957f,J,Austria,Austria,0,x
1,1957,f,1957f,J,Austria,Belgium,0,NaN
2,1957,f,1957f,J,Austria,Denmark,0,NaN
3,1957,f,1957f,J,Austria,France,0,NaN
4,1957,f,1957f,J,Austria,Germany,0,NaN
...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Estonia,6,NaN
61814,2023,f,2023f,J,United Kingdom,Belgium,7,NaN
61815,2023,f,2023f,J,United Kingdom,Lithuania,8,NaN
61816,2023,f,2023f,J,United Kingdom,Australia,10,NaN
61817,2023,f,2023f,J,United Kingdom,Sweden,12,NaN

In [8]:
#Kάναμε νέο column στο df
df['from_bloc'] = ''

In [9]:
#Ορίσαμε τα ονόματα των χωρών που θα αντικατασταθούν με τα ονόματα των μπλοκ
country_to_bloc_mapping = {
    "Sweden" : "Nordic Bloc",
    "Norway" : "Nordic Bloc",
    "Iceland" : "Nordic Bloc",
    "Finland" : "Nordic Bloc",
    "Denmark": "Nordic Bloc",
    
    "Andorra" : 'Iberian Bloc',
    "Spain" : 'Iberian Bloc',
    "Portugal" : 'Iberian Bloc',
    
    "Armenia" : 'East Bloc',
    "Azerbaijan" : 'East Bloc',
    "Belarus" : 'East Bloc',
    "Czech Republic" : 'East Bloc',
    "Estonia" : 'East Bloc',
    "Georgia" : 'East Bloc',
    "Latvia" : 'East Bloc',
    "Lithuania" : 'East Bloc',
    "Poland" : 'East Bloc',
    "Russia" : 'East Bloc',
    "Slovakia" : 'East Bloc',
    "Ukraine" : 'East Bloc',
    
    "Austria" : 'Western Bloc',
    "Belgium" : 'Western Bloc',
    "France" : 'Western Bloc',
    "Germany" : 'Western Bloc',
    "Ireland" : 'Western Bloc',
    "Luxembourg" : 'Western Bloc',
    "Netherlands" : 'Western Bloc',
    "Switzerland" : 'Western Bloc',
    "United Kingdom" : 'Western Bloc',
    
    "Albania" : 'Balkan Bloc', 
    "Bosnia & Herzegovina" : 'Balkan Bloc',
    "Bulgaria" : 'Balkan Bloc',
    "Croatia" : 'Balkan Bloc',
    "Cyprus": 'Balkan Bloc',
    "North Macedonia" : 'Balkan Bloc',
    "Greece" : 'Balkan Bloc',
    "Hungary" : 'Balkan Bloc',
    "Moldova" : 'Balkan Bloc',
    "Montenegro" : 'Balkan Bloc',
    "Sebia" : 'Balkan Bloc',
    "F.U.Y/S.M." : 'Balkan Bloc',
    "Slovenia" : 'Balkan Bloc',
    "Turkey" : 'Balkan Bloc',
    "Romania": 'Balkan Bloc'
}

In [10]:
#Κάναμε την αντικατάσταση και τα βάλαμε στο νέο column
for index, row in df.iterrows():
    country = row['from_country']
    bloc = country_to_bloc_mapping.get(country, 'Other Countries')
    df.at[index, 'from_bloc'] = bloc

In [11]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,to_country,points,Duplicate,from_bloc
0,1957,f,1957f,J,Austria,Austria,0,x,Western Bloc
1,1957,f,1957f,J,Austria,Belgium,0,NaN,Western Bloc
2,1957,f,1957f,J,Austria,Denmark,0,NaN,Western Bloc
3,1957,f,1957f,J,Austria,France,0,NaN,Western Bloc
4,1957,f,1957f,J,Austria,Germany,0,NaN,Western Bloc
...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Estonia,6,NaN,Western Bloc
61814,2023,f,2023f,J,United Kingdom,Belgium,7,NaN,Western Bloc
61815,2023,f,2023f,J,United Kingdom,Lithuania,8,NaN,Western Bloc
61816,2023,f,2023f,J,United Kingdom,Australia,10,NaN,Western Bloc
61817,2023,f,2023f,J,United Kingdom,Sweden,12,NaN,Western Bloc

In [12]:
#Αλλάξαμε την σειρά των columns
desired_columns_order = ["Year", "(semi-) final", "Edition", "Jury or Televoting", "from_country", "from_bloc", "to_country", "points", "Duplicate"]
df = df[desired_columns_order]

In [13]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,points,Duplicate
0,1957,f,1957f,J,Austria,Western Bloc,Austria,0,x
1,1957,f,1957f,J,Austria,Western Bloc,Belgium,0,NaN
2,1957,f,1957f,J,Austria,Western Bloc,Denmark,0,NaN
3,1957,f,1957f,J,Austria,Western Bloc,France,0,NaN
4,1957,f,1957f,J,Austria,Western Bloc,Germany,0,NaN
...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Western Bloc,Estonia,6,NaN
61814,2023,f,2023f,J,United Kingdom,Western Bloc,Belgium,7,NaN
61815,2023,f,2023f,J,United Kingdom,Western Bloc,Lithuania,8,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,12,NaN

In [14]:
#Kάναμε νέο column και αλλάξαμε ξανά τα ορίσαμε ξανά τα ονόματα που θα γίνουν μπλοκ
df['to_bloc'] = ''
country_to_bloc_mapping = {
    "Sweden" : "Nordic Bloc",
    "Norway" : "Nordic Bloc",
    "Iceland" : "Nordic Bloc",
    "Finland" : "Nordic Bloc",
    "Denmark": "Nordic Bloc",
    
    "Andorra" : 'Iberian Bloc',
    "Spain" : 'Iberian Bloc',
    "Portugal" : 'Iberian Bloc',
    
    "Armenia" : 'East Bloc',
    "Azerbaijan" : 'East Bloc',
    "Belarus" : 'East Bloc',
    "Czech Republic" : 'East Bloc',
    "Estonia" : 'East Bloc',
    "Georgia" : 'East Bloc',
    "Latvia" : 'East Bloc',
    "Lithuania" : 'East Bloc',
    "Poland" : 'East Bloc',
    "Russia" : 'East Bloc',
    "Slovakia" : 'East Bloc',
    "Ukraine" : 'East Bloc',
    
    "Austria" : 'Western Bloc',
    "Belgium" : 'Western Bloc',
    "France" : 'Western Bloc',
    "Germany" : 'Western Bloc',
    "Ireland" : 'Western Bloc',
    "Luxembourg" : 'Western Bloc',
    "Netherlands" : 'Western Bloc',
    "Switzerland" : 'Western Bloc',
    "United Kingdom" : 'Western Bloc',
    
    "Albania" : 'Balkan Bloc', 
    "Bosnia & Herzegovina" : 'Balkan Bloc',
    "Bulgaria" : 'Balkan Bloc',
    "Croatia" : 'Balkan Bloc',
    "Cyprus": 'Balkan Bloc',
    "North Macedonia" : 'Balkan Bloc',
    "Greece" : 'Balkan Bloc',
    "Hungary" : 'Balkan Bloc',
    "Moldova" : 'Balkan Bloc',
    "Montenegro" : 'Balkan Bloc',
    "Sebia" : 'Balkan Bloc',
    "F.U.Y/S.M." : 'Balkan Bloc',
    "Slovenia" : 'Balkan Bloc',
    "Turkey" : 'Balkan Bloc',
    "Romania": 'Balkan Bloc'
}

C:\Users\jason\AppData\Local\Temp\ipykernel_16352\2231375769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['to_bloc'] = ''

In [15]:
#Βάλαμε τα ονόματα των μπλοκ στο νέο column
for index, row in df.iterrows():
    country = row['to_country']
    bloc = country_to_bloc_mapping.get(country, 'Other Countries')
    df.at[index, 'to_bloc'] = bloc

In [16]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,points,Duplicate,to_bloc
0,1957,f,1957f,J,Austria,Western Bloc,Austria,0,x,Western Bloc
1,1957,f,1957f,J,Austria,Western Bloc,Belgium,0,NaN,Western Bloc
2,1957,f,1957f,J,Austria,Western Bloc,Denmark,0,NaN,Nordic Bloc
3,1957,f,1957f,J,Austria,Western Bloc,France,0,NaN,Western Bloc
4,1957,f,1957f,J,Austria,Western Bloc,Germany,0,NaN,Western Bloc
...,...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Western Bloc,Estonia,6,NaN,East Bloc
61814,2023,f,2023f,J,United Kingdom,Western Bloc,Belgium,7,NaN,Western Bloc
61815,2023,f,2023f,J,United Kingdom,Western Bloc,Lithuania,8,NaN,East Bloc
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,10,NaN,Other Countries
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,12,NaN,Nordic Bloc

In [17]:
#Αλλάξαμε την σειρά των column
desired_columns_order = ["Year", "(semi-) final", "Edition", "Jury or Televoting", "from_country", "from_bloc", "to_country", "to_bloc", "points", "Duplicate"]
df = df[desired_columns_order]

In [18]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,to_bloc,points,Duplicate
0,1957,f,1957f,J,Austria,Western Bloc,Austria,Western Bloc,0,x
1,1957,f,1957f,J,Austria,Western Bloc,Belgium,Western Bloc,0,NaN
2,1957,f,1957f,J,Austria,Western Bloc,Denmark,Nordic Bloc,0,NaN
3,1957,f,1957f,J,Austria,Western Bloc,France,Western Bloc,0,NaN
4,1957,f,1957f,J,Austria,Western Bloc,Germany,Western Bloc,0,NaN
...,...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Western Bloc,Estonia,East Bloc,6,NaN
61814,2023,f,2023f,J,United Kingdom,Western Bloc,Belgium,Western Bloc,7,NaN
61815,2023,f,2023f,J,United Kingdom,Western Bloc,Lithuania,East Bloc,8,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,Other Countries,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,Nordic Bloc,12,NaN

In [19]:
#Κρατήσαμε μόνο τις σειρές που έχουν δοθεί πόντοι 10 και 12
df_10_12 = df_10_12 = df[df['points'].isin([10, 12])].copy()

In [20]:
df_10_12

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,to_bloc,points,Duplicate
3160,1971,f,1971f,J,Belgium,Western Bloc,Finland,Nordic Bloc,10,NaN
3167,1971,f,1971f,J,Belgium,Western Bloc,Monaco,Other Countries,10,NaN
3206,1971,f,1971f,J,France,Western Bloc,Spain,Iberian Bloc,10,NaN
3314,1971,f,1971f,J,Monaco,Other Countries,Spain,Iberian Bloc,10,NaN
3329,1971,f,1971f,J,Norway,Nordic Bloc,Monaco,Other Countries,10,NaN
...,...,...,...,...,...,...,...,...,...,...
61797,2023,f,2023f,J,Switzerland,Western Bloc,Czech Republic,East Bloc,12,NaN
61806,2023,f,2023f,J,Ukraine,East Bloc,Lithuania,East Bloc,10,NaN
61807,2023,f,2023f,J,Ukraine,East Bloc,Sweden,Nordic Bloc,12,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,Other Countries,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,Nordic Bloc,12,NaN

In [21]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,to_bloc,points,Duplicate
0,1957,f,1957f,J,Austria,Western Bloc,Austria,Western Bloc,0,x
1,1957,f,1957f,J,Austria,Western Bloc,Belgium,Western Bloc,0,NaN
2,1957,f,1957f,J,Austria,Western Bloc,Denmark,Nordic Bloc,0,NaN
3,1957,f,1957f,J,Austria,Western Bloc,France,Western Bloc,0,NaN
4,1957,f,1957f,J,Austria,Western Bloc,Germany,Western Bloc,0,NaN
...,...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Western Bloc,Estonia,East Bloc,6,NaN
61814,2023,f,2023f,J,United Kingdom,Western Bloc,Belgium,Western Bloc,7,NaN
61815,2023,f,2023f,J,United Kingdom,Western Bloc,Lithuania,East Bloc,8,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,Other Countries,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,Nordic Bloc,12,NaN

In [22]:
df_10_12

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,to_bloc,points,Duplicate
3160,1971,f,1971f,J,Belgium,Western Bloc,Finland,Nordic Bloc,10,NaN
3167,1971,f,1971f,J,Belgium,Western Bloc,Monaco,Other Countries,10,NaN
3206,1971,f,1971f,J,France,Western Bloc,Spain,Iberian Bloc,10,NaN
3314,1971,f,1971f,J,Monaco,Other Countries,Spain,Iberian Bloc,10,NaN
3329,1971,f,1971f,J,Norway,Nordic Bloc,Monaco,Other Countries,10,NaN
...,...,...,...,...,...,...,...,...,...,...
61797,2023,f,2023f,J,Switzerland,Western Bloc,Czech Republic,East Bloc,12,NaN
61806,2023,f,2023f,J,Ukraine,East Bloc,Lithuania,East Bloc,10,NaN
61807,2023,f,2023f,J,Ukraine,East Bloc,Sweden,Nordic Bloc,12,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,Other Countries,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,Nordic Bloc,12,NaN

In [23]:
df_10_12

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,to_bloc,points,Duplicate
3160,1971,f,1971f,J,Belgium,Western Bloc,Finland,Nordic Bloc,10,NaN
3167,1971,f,1971f,J,Belgium,Western Bloc,Monaco,Other Countries,10,NaN
3206,1971,f,1971f,J,France,Western Bloc,Spain,Iberian Bloc,10,NaN
3314,1971,f,1971f,J,Monaco,Other Countries,Spain,Iberian Bloc,10,NaN
3329,1971,f,1971f,J,Norway,Nordic Bloc,Monaco,Other Countries,10,NaN
...,...,...,...,...,...,...,...,...,...,...
61797,2023,f,2023f,J,Switzerland,Western Bloc,Czech Republic,East Bloc,12,NaN
61806,2023,f,2023f,J,Ukraine,East Bloc,Lithuania,East Bloc,10,NaN
61807,2023,f,2023f,J,Ukraine,East Bloc,Sweden,Nordic Bloc,12,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,Other Countries,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,Nordic Bloc,12,NaN

In [25]:
df_10_12

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,to_bloc,points,Duplicate
3160,1971,f,1971f,J,Belgium,Western Bloc,Finland,Nordic Bloc,10,NaN
3167,1971,f,1971f,J,Belgium,Western Bloc,Monaco,Other Countries,10,NaN
3206,1971,f,1971f,J,France,Western Bloc,Spain,Iberian Bloc,10,NaN
3314,1971,f,1971f,J,Monaco,Other Countries,Spain,Iberian Bloc,10,NaN
3329,1971,f,1971f,J,Norway,Nordic Bloc,Monaco,Other Countries,10,NaN
...,...,...,...,...,...,...,...,...,...,...
61797,2023,f,2023f,J,Switzerland,Western Bloc,Czech Republic,East Bloc,12,NaN
61806,2023,f,2023f,J,Ukraine,East Bloc,Lithuania,East Bloc,10,NaN
61807,2023,f,2023f,J,Ukraine,East Bloc,Sweden,Nordic Bloc,12,NaN
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,Other Countries,10,NaN
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,Nordic Bloc,12,NaN

In [26]:
#Βρήκαμε το ποσοστό των πόντων που έχει δώσει κάθε μπλοκ σε κάθε μπλοκ
df_filtered= df_10_12.groupby('from_bloc').to_bloc.value_counts(normalize=True) * 100

In [27]:
df_filtered

from_bloc        to_bloc
Balkan Bloc      Balkan Bloc        41.928251
                 East Bloc          18.086697
                 Other Countries    16.816143
                 Western Bloc       11.733931
                 Nordic Bloc         8.744395
                 Iberian Bloc        2.690583
East Bloc        East Bloc          46.597353
                 Nordic Bloc        15.879017
                 Balkan Bloc        13.327032
                 Western Bloc       11.625709
                 Other Countries     9.924386
                 Iberian Bloc        2.646503
Iberian Bloc     Western Bloc       25.227964
                 Balkan Bloc        20.668693
                 Other Countries    16.413374
                 East Bloc          15.197568
                 Iberian Bloc       11.550152
                 Nordic Bloc        10.942249
Nordic Bloc      Nordic Bloc        37.733333
                 Western Bloc       23.333333
                 Other Countries    12.266667
                 Balkan Bloc        11.866667
                 East Bloc          11.466667
                 Iberian Bloc        3.333333
Other Countries  Balkan Bloc        27.329193
                 East Bloc          20.031056
                 Western Bloc       18.944099
                 Nordic Bloc        18.167702
                 Other Countries    12.111801
                 Iberian Bloc        3.416149
Western Bloc     Western Bloc       30.516432
                 Balkan Bloc        17.840376
                 Nordic Bloc        17.214397
                 East Bloc          14.632238
                 Other Countries    14.162754
                 Iberian Bloc        5.633803
Name: proportion, dtype: float64

In [28]:
#Το κάναμε df
df_filtered = pd.DataFrame(df_10_12.groupby('from_bloc').to_bloc.value_counts(normalize=True) * 100)

In [29]:
df_filtered

                                 proportion
from_bloc       to_bloc
Balkan Bloc     Balkan Bloc       41.928251
                East Bloc         18.086697
                Other Countries   16.816143
                Western Bloc      11.733931
                Nordic Bloc        8.744395
                Iberian Bloc       2.690583
East Bloc       East Bloc         46.597353
                Nordic Bloc       15.879017
                Balkan Bloc       13.327032
                Western Bloc      11.625709
                Other Countries    9.924386
                Iberian Bloc       2.646503
Iberian Bloc    Western Bloc      25.227964
                Balkan Bloc       20.668693
                Other Countries   16.413374
                East Bloc         15.197568
                Iberian Bloc      11.550152
                Nordic Bloc       10.942249
Nordic Bloc     Nordic Bloc       37.733333
                Western Bloc      23.333333
                Other Countries   12.266667
                Balkan Bloc       11.866667
                East Bloc         11.466667
                Iberian Bloc       3.333333
Other Countries Balkan Bloc       27.329193
                East Bloc         20.031056
                Western Bloc      18.944099
                Nordic Bloc       18.167702
                Other Countries   12.111801
                Iberian Bloc       3.416149
Western Bloc    Western Bloc      30.516432
                Balkan Bloc       17.840376
                Nordic Bloc       17.214397
                East Bloc         14.632238
                Other Countries   14.162754
                Iberian Bloc       5.633803

In [30]:
#Αλλάξαμε τα δεκαδικά
df_filtered = pd.DataFrame(round(df_10_12.groupby('from_bloc').to_bloc.value_counts(normalize=True) * 100, 1))

In [31]:
df_filtered

                                 proportion
from_bloc       to_bloc
Balkan Bloc     Balkan Bloc            41.9
                East Bloc              18.1
                Other Countries        16.8
                Western Bloc           11.7
                Nordic Bloc             8.7
                Iberian Bloc            2.7
East Bloc       East Bloc              46.6
                Nordic Bloc            15.9
                Balkan Bloc            13.3
                Western Bloc           11.6
                Other Countries         9.9
                Iberian Bloc            2.6
Iberian Bloc    Western Bloc           25.2
                Balkan Bloc            20.7
                Other Countries        16.4
                East Bloc              15.2
                Iberian Bloc           11.6
                Nordic Bloc            10.9
Nordic Bloc     Nordic Bloc            37.7
                Western Bloc           23.3
                Other Countries        12.3
                Balkan Bloc            11.9
                East Bloc              11.5
                Iberian Bloc            3.3
Other Countries Balkan Bloc            27.3
                East Bloc              20.0
                Western Bloc           18.9
                Nordic Bloc            18.2
                Other Countries        12.1
                Iberian Bloc            3.4
Western Bloc    Western Bloc           30.5
                Balkan Bloc            17.8
                Nordic Bloc            17.2
                East Bloc              14.6
                Other Countries        14.2
                Iberian Bloc            5.6

In [32]:
df_filtered.to_csv('PER_BLOCtoBLOC.csv', index=False)

In [33]:
# Κάναμε reset το index
df_filtered.reset_index()

          from_bloc          to_bloc  proportion
0       Balkan Bloc      Balkan Bloc        41.9
1       Balkan Bloc        East Bloc        18.1
2       Balkan Bloc  Other Countries        16.8
3       Balkan Bloc     Western Bloc        11.7
4       Balkan Bloc      Nordic Bloc         8.7
5       Balkan Bloc     Iberian Bloc         2.7
6         East Bloc        East Bloc        46.6
7         East Bloc      Nordic Bloc        15.9
8         East Bloc      Balkan Bloc        13.3
9         East Bloc     Western Bloc        11.6
10        East Bloc  Other Countries         9.9
11        East Bloc     Iberian Bloc         2.6
12     Iberian Bloc     Western Bloc        25.2
13     Iberian Bloc      Balkan Bloc        20.7
14     Iberian Bloc  Other Countries        16.4
15     Iberian Bloc        East Bloc        15.2
16     Iberian Bloc     Iberian Bloc        11.6
17     Iberian Bloc      Nordic Bloc        10.9
18      Nordic Bloc      Nordic Bloc        37.7
19      Nordic Bloc     Western Bloc        23.3
20      Nordic Bloc  Other Countries        12.3
21      Nordic Bloc      Balkan Bloc        11.9
22      Nordic Bloc        East Bloc        11.5
23      Nordic Bloc     Iberian Bloc         3.3
24  Other Countries      Balkan Bloc        27.3
25  Other Countries        East Bloc        20.0
26  Other Countries     Western Bloc        18.9
27  Other Countries      Nordic Bloc        18.2
28  Other Countries  Other Countries        12.1
29  Other Countries     Iberian Bloc         3.4
30     Western Bloc     Western Bloc        30.5
31     Western Bloc      Balkan Bloc        17.8
32     Western Bloc      Nordic Bloc        17.2
33     Western Bloc        East Bloc        14.6
34     Western Bloc  Other Countries        14.2
35     Western Bloc     Iberian Bloc         5.6

In [34]:
#Κάναμε το df να είναι με reset index
df_filtered = df_filtered.reset_index()

In [35]:
df_filtered

          from_bloc          to_bloc  proportion
0       Balkan Bloc      Balkan Bloc        41.9
1       Balkan Bloc        East Bloc        18.1
2       Balkan Bloc  Other Countries        16.8
3       Balkan Bloc     Western Bloc        11.7
4       Balkan Bloc      Nordic Bloc         8.7
5       Balkan Bloc     Iberian Bloc         2.7
6         East Bloc        East Bloc        46.6
7         East Bloc      Nordic Bloc        15.9
8         East Bloc      Balkan Bloc        13.3
9         East Bloc     Western Bloc        11.6
10        East Bloc  Other Countries         9.9
11        East Bloc     Iberian Bloc         2.6
12     Iberian Bloc     Western Bloc        25.2
13     Iberian Bloc      Balkan Bloc        20.7
14     Iberian Bloc  Other Countries        16.4
15     Iberian Bloc        East Bloc        15.2
16     Iberian Bloc     Iberian Bloc        11.6
17     Iberian Bloc      Nordic Bloc        10.9
18      Nordic Bloc      Nordic Bloc        37.7
19      Nordic Bloc     Western Bloc        23.3
20      Nordic Bloc  Other Countries        12.3
21      Nordic Bloc      Balkan Bloc        11.9
22      Nordic Bloc        East Bloc        11.5
23      Nordic Bloc     Iberian Bloc         3.3
24  Other Countries      Balkan Bloc        27.3
25  Other Countries        East Bloc        20.0
26  Other Countries     Western Bloc        18.9
27  Other Countries      Nordic Bloc        18.2
28  Other Countries  Other Countries        12.1
29  Other Countries     Iberian Bloc         3.4
30     Western Bloc     Western Bloc        30.5
31     Western Bloc      Balkan Bloc        17.8
32     Western Bloc      Nordic Bloc        17.2
33     Western Bloc        East Bloc        14.6
34     Western Bloc  Other Countries        14.2
35     Western Bloc     Iberian Bloc         5.6

In [36]:
#Το αποθηκεύσαμε
df_filtered.to_csv('PER_BLOCtoBLOC.csv', index=False)